<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="MySql_AWS" connectionString="metadata=res://*/MySql_TwitterEntities.csdl|res://*/MySql_TwitterEntities.ssdl|res://*/MySql_TwitterEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=sentiment-dev2.c6iu1mzeat5e.us-west-2.rds.amazonaws.com;user id=guest;persistsecurityinfo=True;database=twitter_dev&quot;" providerName="System.Data.EntityClient" />
    <add name="TwitterEntities" connectionString="metadata=res://*/TwitterModel.csdl|res://*/TwitterModel.ssdl|res://*/TwitterModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=sentiment-dev2.c6iu1mzeat5e.us-west-2.rds.amazonaws.com;user id=guest;persistsecurityinfo=True;database=twitter_dev&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>